<nav>
	<div class="logo">Logo</div>
	<div class="nav-items">
		<div class="nav-item">Home</div>
		<div class="nav-item">Listings</div>
		<div class="nav-item">Merchants</div>
		<div class="nav-item">About</div>
		<div class="nav-item">Contacts</div>
	</div>
</nav>